{% extends "layout.html" %}

{% block body %}
<form method="POST" action="">
    {{ form.hidden_tag() }}<br/>
    {{ form.first_name.label }}: {{ form.first_name }}<br/>
    {{ form.last_name.label }}: {{ form.last_name }}<br/>
    {{ form.email.label }}: {{ form.email }}<br/>
    {{ form.age.label }}: {{ form.age }}<br/>
    {{ form.game_name.label }}: {{ form.game_name }}<br/>
    {{ form.description.label }}: {{ form.description }}<br/>
    {{ form.review.label }}: {{ form.review }}<br/>
    {{ form.submit }}
</form>
{% endblock body %}