{% extends "layout.html" %}

{% block body %}
<h2>Reviews</h2>
<!-- taken from the models file -->
{% for game in all_games %}
    <h3>{{ game.game_name }}</h3>
    {% for review in game.reviews %}
        <p>
            Description: {{ game.description }}<br/>
            Review: {{ review.review }}<br/>
            First Name: {{ review.first_name }}<br/>
            Last Name: {{ review.last_name }}<br/>
            Email: {{ review.email }}<br/>
            {{ review.date_review_placed }}<br/>
            <a href="{{ url_for('update_review', id1=game.id, id2=review.id) }}">Edit</a>
            <a href="{{ url_for('delete_review', id1=game.id, id2=review.id) }}">Delete</a>
        </p>
    {% endfor %}
{% endfor %}
{% endblock body %}
